@model IEnumerable<CaseStudy_19_1_23_.Models.SubCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category.CAName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category.CAName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SuId },new { @class = "btn btn-info" }) |
            @Html.ActionLink("Details", "Details", new { id=item.SuId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SuId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
