@model IEnumerable<CaseStudy_19_1_23_.Models.Products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subCategory.SuName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PStocks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subCategory.SuName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PStocks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PPrice)
        </td>
        <td>
            <img src="@item.PImage" style="width: 95%; height: 220px" alt="Image not found" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Details", "Details", new { id=item.PId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
